:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body {
  color: var(--secondary);
}
.app {
  max-width: 960px;
  margin: 0 auto;
}

.title h1 {
  color: var(--primary);
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h2, .title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

input {
  opacity: 0;
  width: 5%;
}
.error {
  color: var(--error);
}

label {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 0 auto;
}
label:hover {
  background: var(--primary);
}
span {
  text-align: center;
}
.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.img-grid img {
  width: 200px;
  height: 100px;
}

.progress-bar {
  margin: 10px 0;
  height: 5px;
  background: var(--primary);
}